*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.collapse{
    display: flex;
    justify-content: space-evenly;    
}
.nav-link {
    font-size: 30px;
}
.navbar-nav .nav-item    {
    padding: 5%;
}
.fondo img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.container-fluid {
    background-size: contain;
    padding-left: 0;    
}
.carousel {
    background-color: black;
}
.carousel-item img {
    width: auto;
    height: 600px;
    border-radius: 100px;
    object-fit: contain;    
}
.footer {
    min-height: 200px;
    height: calc(100vh - 791px);
    max-height: 400px;
    width: 100vw;
} */
.logo {
    max-height: 100vh;
}
.logo a img{
    width: 359px;
}
.footerId {
    height: 200px;
    display: flex;
    justify-content: center;
}
.footerId div {
    width: 100vw;
    display: flex;
}
.footerId .footerLeft{
    justify-content: flex-start;
    align-items: center;
    background-color: aqua;
    color: white;
    font-size: 50px;
}
.footerId .footerLeft a {
    display: flex;
    height: 150px;
    width: 200px;
    justify-content: flex-end;
    margin-left: 20px;
}

.footerId .footerRight {
    font-size: 20px;
    color: white;
    background-color: aqua;
    text-align: right;
    display: flex;
    justify-content: space-around;
    align-items: center;

} 
.footerRight ul li {
    display: inline-block;
    justify-content: space-evenly;

}
@media (max-width: 768px) {
    .footerId {
        display: inline-block;   
        align-items: space-around; 
        gap: 10px;
        background-color: aqua;
    }
    .footerRight {
        margin-top: 10px;
        
    }
}
