* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.mainId, .mainReview, .mainTours {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.mainReview {
  background-image: url(../images/marina1.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.formReview {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 50px;
  font-size: 30px;
  color: white;
}
.formReview .mainReview input {
  font-size: 25px;
  padding: 5px;
  letter-spacing: 0.5px;
}
.formReview .contReview {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formReview .contReview textarea {
  font-size: 18px;
  padding: 5px;
  resize: none;
}
.formReview .formReview select {
  font-size: 20px;
  padding: 10px;
}
.formReview .mainReview button {
  font-size: 25px;
  padding: 5px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.mainTours {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxTitle {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  padding: 50px 35px;
  transform: translateY(-200px);
}
.boxTitle .titleTitle {
  color: white;
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.boxTitle .titleTitle:hover {
  color: red;
}

.mainId, .mainTours {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

.mainKnownUs {
  align-items: flex-start;
}

.knowTittle {
  display: flex;
  color: rebeccapurple;
  font-size: 50px;
  justify-content: center;
  width: 100%;
}

.staffMember {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  color: wheat;
  font-size: 30px;
  letter-spacing: 2px;
  width: 800px;
  overflow: hidden;
  height: auto;
}
.staffMember img {
  height: 200px;
  width: 200px;
  padding: 20px;
}
.staffMember p {
  padding: 20px;
}

.divTour {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  color: wheat;
  font-size: 30px;
  letter-spacing: 2px;
  width: 800px;
  height: 400px;
  border: solid 5px aquamarine;
  flex-direction: column;
}

.buttonBuy {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonBuy button {
  border-radius: 100px;
  height: 70px;
  width: auto;
  font-size: 20px;
  color: darkgreen;
  font-weight: 700;
  cursor: pointer;
  padding: 20px;
  margin: 10px;
}

.buttonBuy button:hover {
  color: red;
}

.spanTour {
  display: flex;
  overflow: hidden;
}
.spanTour img {
  height: 400px;
  width: 400px;
  padding: 20px;
  background-size: cover;
}
.spanTour .textTour {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
}

.collapse {
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  font-size: 30px;
}

.navbar-nav .nav-item {
  padding: 5%;
}

.fondo img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.collapse {
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  font-size: 30px;
}

.navbar-nav .nav-item {
  padding: 5%;
}

.fondo img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-fluid {
  background-size: contain;
  padding-left: 0;
}

.carousel {
  background-color: black;
  height: 80vh;
}

.carousel-item img {
  width: 75vw !important;
  border-radius: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 75vh;
  margin: 30px auto;
}

.logo {
  max-height: 100vh;
}

.logo a img {
  width: 359px;
}

.footerId {
  height: 200px;
  display: flex;
  justify-content: center;
}

.footerId div {
  width: 100vw;
  display: flex;
}

.footerId .footerLeft {
  justify-content: flex-start;
  align-items: center;
  background-color: aqua;
  color: white;
  font-size: 50px;
}

.footerId .footerLeft a {
  display: flex;
  height: 150px;
  width: 200px;
  justify-content: flex-end;
  margin-left: 20px;
}

.footerId .footerRight {
  font-size: 20px;
  color: white;
  background-color: aqua;
  text-align: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerRight ul li {
  display: inline-block;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .footerId {
    display: inline-block;
    align-items: space-around;
    background-color: aqua;
  }
  .footerRight {
    margin-top: 10px;
  }
  .boxTitle {
    transform: translateY(-100px);
  }
  .boxTitle .titleTitle {
    margin-top: 0;
    font-size: 32px;
  }
  .divTour {
    font-size: 12px;
  }
  .spanTour {
    flex-direction: column;
    align-items: center;
  }
  .divTour img {
    height: 50%;
    width: 50%;
  }
  .staffMember {
    flex-direction: column;
    font-size: 10px;
  }
  .staffMember img {
    margin: auto;
  }
  .formReview {
    transform: translateY(-180px);
    padding: 0;
    font-size: 15px;
    margin: 5px;
  }
  .formReview input {
    margin-left: 40px;
    font-size: 15px;
  }
  .formReview textarea {
    height: 100px;
    width: 80%;
  }
  .formReview .submit {
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .formReview select {
    margin-left: 25px;
  }
}/*# sourceMappingURL=main.css.map */